<div class="forgotten-password-component">
    <mat-card class="forgotten-password-card">
        <mat-card-title>Password assistance</mat-card-title>
        <mat-card-subtitle>
            Enter the email address associated with your account.
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email"
                           formControlName="email"
                           matInput
                           placeholder="Email address">
                </mat-form-field>
                <div class="button-container">
                    <button
                            [disabled]="resetPasswordForm.invalid"
                            color="primary"
                            mat-flat-button>
                        <strong>Continue</strong>
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

